
<style>

div#squat_container {
  width: 400px;
  height: 300px;
  background-color: #eeeeee;
}
</style>



<h1>Graph of Deadlift Weight</h1> <%= image_tag("squat.svg", :size => "150x150")%>

<button id="squat_button">
  Update
</button>
<div id="squat_container">
  <svg id="image">
  </svg>
</div>

<h1>Listing squat_data_points</h1>

<table>
  <tr>
    <th>User Id</th>
    <th>Lbs</th>
    <th>Date</th>
  </tr>

<% @squat_data_points.each do |squat_data_point| %>
  <tr>
    <td><%= squat_data_point['user_id'] %></td>
    <td><%= squat_data_point['data_point']%></td>
    <td><%= l squat_data_point['created_at'], :format => '%b %d' %></td>
    <% if (l squat_data_point['created_at'], :format => '%b %d') ==
      (l Time.now, :format => '%b %d')%>
        <td><%= link_to 'Edit', edit_squat_data_point_path(squat_data_point) %></td>
        <td><%= link_to 'Destroy', squat_data_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Squat data point', new_squat_data_point_path %>



