<h1>Squat</h1>
<%= image_tag("squat.svg", :size => "#{@max_squat/2}x#{@max_squat/2}")%>

<div id="squatMorris" style="height: 300px;"></div>

<br />
<br />
Today is <%=(l Time.now, :format => '%A, %B %d') %>.
<br />
<% if (@squat_data_points != []) && (@squat_data_points.last['date'] == (Time.now).strftime("%Y-%m-%d")) %>
  <%= link_to 'Edit', edit_squat_data_point_path(@squat_data_points.last) %> or
  <%= link_to 'Delete', @squat_data_points.last, method: :delete, data: { confirm: 'Are you sure?' } %>
  newly created weight of <%= @squat_data_points.last['weight']%> lbs.
<% end %>

<br />

<% if (@squat_data_points == []) || (@squat_data_points.last['date'] != (Time.now).strftime("%Y-%m-%d")) %>
<%= link_to 'New Squat data point', new_squat_data_point_path %>
<% end %>
<br />
<br />
<a href="http://www.bodybuilding.com/exercises/detail/view/name/barbell-squat" target="_blank"> Learn from BodyBuilding.com </a>
<br />

Watch the highest viewed YouTube video for "squat"
<br/>
<iframe width="420" height="315" src="http://www.youtube.com/embed/7mqSqwGJAMg" frameborder="0" allowfullscreen></iframe>

<br />

</br>
<a href="http://thenounproject.com/noun/squat/#icon-No4714" target="_blank">Squat</a> designed by <a href="http://thenounproject.com/Bendoh" target="_blank">Ben Doherty</a> from The Noun Project