<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @squat_data_point.user_id %>
</p>

<p>
  <b>Data point:</b>
  <%= @squat_data_point.data_point %>
</p>


<%= link_to 'Edit', edit_squat_data_point_path(@squat_data_point) %> |
<%= link_to 'Back', squat_data_points_path %>
