
<h1>Graph of Deadlift Weight</h1> <%= image_tag("deadlift.svg", :size => "150x150")%>

<div id="deadliftMorris" style="height: 300px;"></div>

<table>
  <tr>
    <th>Lbs</th>
    <th>Date</th>
  </tr>

  <% if (@deadlift_data_points != []) && (@deadlift_data_points.last['date'] == (Time.now).strftime("%Y-%m-%d")) %>

    <tr>
      <td><%= @deadlift_data_points.last['weight']%></td>
      <td><%=(l Time.now, :format => '%b %d') %></td>
      <% if @deadlift_data_points.last['date'] == (l Time.now, :format => '%Y-%m-%d')%>
          <td><%= link_to 'Edit', edit_deadlift_data_point_path(@deadlift_data_points.last) %></td>
          <td><%= link_to 'Destroy', @deadlift_data_points.last, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
    </tr>

  <% end %>


</table>

<br />

<% if (@deadlift_data_points == []) || (@deadlift_data_points.last['date'] != (Time.now).strftime("%Y-%m-%d")) %>
<%= link_to 'New Deadlift data point', new_deadlift_data_point_path %>
<% end %>

<br />

</br>
<a href="http://thenounproject.com/noun/deadlift/#icon-No4713" target="_blank">Deadlift</a> designed by <a href="http://thenounproject.com/Bendoh" target="_blank">Ben Doherty</a> from The Noun Project