<h1>Graph of Bench Press Weight</h1> <%= image_tag("benchpress.svg", :size => "150x150")%>


<h1>Listing bench_press_data_points</h1>

<table>
  <tr>
    <th>Lbs</th>
    <th>Date</th>
  </tr>

<% @bench_press_data_points.each do |bench_press_data_point| %>
  <tr>
    <td><%= bench_press_data_point['data_point']%></td>
    <td><%= l bench_press_data_point['created_at'], :format => '%b %d' %></td>
    <% if (l bench_press_data_point['created_at'], :format => '%b %d') ==
      (l Time.now, :format => '%b %d')%>
        <td><%= link_to 'Edit', edit_bench_press_data_point_path(bench_press_data_point) %></td>
        <td><%= link_to 'Destroy', bench_press_data_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
  </tr>
<% end %>
</table>

<br />
<% if (@bench_press_data_points == []) || (@bench_press_data_points.last['created_at'].strftime("%Y-%m-%d") == (Time.now).strftime("%Y-%m-%d")) %>
<%= link_to 'New Bench Press data point', new_bench_press_data_point_path %>
<% end %>

<br />


</br>
<a href="http://thenounproject.com/noun/bench-press/#icon-No4716" target="_blank">Bench Press</a> designed by <a href="http://thenounproject.com/Bendoh" target="_blank">Ben Doherty</a> from The Noun Project