<h1>Bench Press</h1>
<%= image_tag("benchpress.svg", :size => "#{@max_bench_press/2}x#{@max_bench_press/2}")%>

<div id="benchPressMorris" style="height: 300px;"></div>

<br />
<br />
Today is <%=(l Time.now, :format => '%A, %B %d') %>.
<br />
<% if (@bench_press_data_points != []) && (@bench_press_data_points.last['date'] == (Time.now).strftime("%Y-%m-%d")) %>
  <%= link_to 'Edit', edit_bench_press_data_point_path(@bench_press_data_points.last) %> or
  <%= link_to 'Delete', @bench_press_data_points.last, method: :delete, data: { confirm: 'Are you sure?' } %>
  newly created weight of <%= @bench_press_data_points.last['weight']%> lbs.
<% end %>

<br />

<% if (@bench_press_data_points == []) || (@bench_press_data_points.last['date'] != (Time.now).strftime("%Y-%m-%d")) %>
<%= link_to 'New Deadlift data point', new_bench_press_data_point_path %>
<% end %>

<br />

</br>
<a href="http://thenounproject.com/noun/bench-press/#icon-No4716" target="_blank">Bench Press</a> designed by <a href="http://thenounproject.com/Bendoh" target="_blank">Ben Doherty</a> from The Noun Project