<h1>Hello <%= current_user.email %></h1>


<h2>Total: <%= @max_deadlift+ @max_squat + @max_bench_press  %> lbs</h2>
<h2><%= 1000 - (@max_deadlift+ @max_squat + @max_bench_press)  %>lbs to go!</h2>

<%= link_to 'Deadlift Graph', deadlift_data_points_path %> Max: <%= @max_deadlift %> </br>
<%= link_to 'Squat Graph', squat_data_points_path %> Max: <%= @max_squat %> </br>
<%= link_to 'Bench Press Graph', bench_press_data_points_path %> Max: <%= @max_bench_press %>
