<h1>Hello World</h1>


<%= link_to 'Deadlift Graph', deadlift_data_points_path %> Max: <%= @max_deadlift %> </br>
<%= link_to 'Squat Graph', squat_data_points_path %> Max: <%= @max_squat %> </br>
<%= link_to 'Bench Press Graph', bench_press_data_points_path %> Max: <%= @max_bench_press %>
