<!DOCTYPE html>
<html>
<head>
  <title>Club1000lb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Trade+Winds' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div id="header" class="navbar navbar-fixed-top">
    <span id="home"><a href="/" id="logo">Club <em id="logo_num">1000</em> Lbs</a><span>
    <% if user_signed_in?%>
     <span id="sign_out"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %><span>
    <% end %>
  </div>
  </header>

  <p><%= notice %></p>   <!--#Devise configuration-->
  <p><%= alert %></p>     <!--#Devise configuration-->

<%= yield %>

</body>
</html>
